<div id="reg_background" class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avatar">
                    <img src="../../../assets/Images/user_icon.png" class="user-image">
                </div>
                <form>
                    <div class="form-group">
                        <label for="name">Name : </label>
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password : </label>
                        <input type="password" name="password" class="form-control" placeholder="********">
                    </div>
                    <div class="form-group">
                        <label for="c_password">Confirm Password : </label>
                        <input type="password" name="c_password" class="form-control" placeholder="********">
                    </div>
                    <!-- <div class="form-group">
                        <label for="sex">Sex : </label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="Male">
                            <label class="form-check-label" for="male"> Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="Female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="userType">Register As : </label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="userType" id="inlineRadio1" value="student">
                        <label class="form-check-label" for="student">  Student</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="userType" id="inlineRadio2" value="teacher">
                        <label class="form-check-label" for="teacher">Teacher</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="userType" id="inlineRadio3" value="admin">
                        <label class="form-check-label" for="admin">Admin</label>
                    </div>
                </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-my" value="Sign Up">
                    </div>
                    
                    <div class="text-center login">
                        Already have an account ? <a routerLink="/login">Login</a> here.
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>